In [2]:
max= [0]*4
max

[0, 0, 0, 0]

In [6]:
import csv
import matplotlib.pyplot as plt
import platform
import koreanize_matplotlib
import pandas as pd

In [7]:
data=pd.read_csv('subwaytime.csv')

data

,사용월,호선명,역ID,지하철역,04:00:00~04:59:59,Unnamed: 5,05:00:00~05:59:59,Unnamed: 7,06:00:00~06:59:59,Unnamed: 9,...,23:00:00~23:59:59,Unnamed: 43,00:00:00~00:59:59,Unnamed: 45,01:00:00~01:59:59,Unnamed: 47,02:00:00~02:59:59,Unnamed: 49,03:00:00~03:59:59,Unnamed: 51
0,NaN,NaN,NaN,NaN,승차,하차,승차,하차,승차,하차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
1,Jun.24,1호선,150.0,서울역,654,20,8727,9083,13812,56637,...,27544,13883,2863,3984,3,215,0,0,0,0
2,Jun.24,1호선,151.0,시청,74,0,2105,5374,4050,25949,...,10250,3898,502,991,1,38,0,0,0,0
3,Jun.24,1호선,152.0,종각,132,7,4291,5787,4312,32747,...,26952,4587,1676,1300,0,0,0,0,0,0
4,Jun.24,1호선,153.0,종로3가,206,13,4296,3015,3961,13851,...,18427,5240,1765,2042,2,6,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Jun.24,신림선,4407.0,당곡,1,0,2159,212,4454,1247,...,971,4036,245,1308,0,0,0,0,0,0
619,Jun.24,신림선,4408.0,신림,0,0,1005,298,1529,822,...,825,1650,259,635,0,0,0,0,0,0
620,Jun.24,신림선,4409.0,서원,3,1,2405,348,4250,784,...,457,4206,90,1367,0,0,0,0,0,0
621,Jun.24,신림선,4410.0,서울대벤처타운,26,0,6532,497,10429,3697,...,1982,12499,433,4844,1,1,0,0,0,0
622,Jun.24,신림선,4411.0,관악산(서울대),9,2,1101,1044,1949,2520,...,698,1617,192,824,0,62,0,0,0,0