In [53]:
import pandas as pd 
from tabulate import tabulate
import seaborn as sns
import koreanize_matplotlib
import matplotlib.pyplot as plt

In [54]:
rain3=pd.read_excel('new_rain_3.xlsx')
print(tabulate(rain3.head(),headers='keys',tablefmt='psql'))

+----+--------+----------+---------------------+------------+--------------+-----------+
|    |   지점 | 지점명   | 일시                |   기온(°C) |   강수량(mm) |   습도(%) |
|----+--------+----------+---------------------+------------+--------------+-----------|
|  0 |    108 | 서울     | 2023-03-01 00:00:00 |        6.3 |          nan |        68 |
|  1 |    108 | 서울     | 2023-03-01 01:00:00 |        6.1 |          nan |        68 |
|  2 |    108 | 서울     | 2023-03-01 02:00:00 |        6.2 |          nan |        69 |
|  3 |    108 | 서울     | 2023-03-01 03:00:00 |        6   |          nan |        70 |
|  4 |    108 | 서울     | 2023-03-01 04:00:00 |        5.8 |          nan |        70 |
+----+--------+----------+---------------------+------------+--------------+-----------+

In [55]:
def renew(data):
    data.drop(['지점','지점명'], axis=1, inplace=True)
    data.columns=['date','temp','rain','humidity']
    data['date']= pd.to_datetime(data['date'].dt.date)
    data.ffill(inplace=True)
    data['rain'] = data['rain'].replace(0,0.01)
    data['rain'] = data['rain'].fillna(0.01)
    print(data['rain'].value_counts())
    print(data.columns)
    print()
    print(data.isna().sum())
    print()
    print(tabulate(data.head(), headers='keys', tablefmt='pretty'))

In [56]:
renew(rain3)

rain
0.01    408
0.90    252
0.10     69
3.60      6
1.20      3
1.40      3
3.30      3
Name: count, dtype: int64
Index(['date', 'temp', 'rain', 'humidity'], dtype='object')

date        0
temp        0
rain        0
humidity    0
dtype: int64

+---+---------------------+------+------+----------+
|   |        date         | temp | rain | humidity |
+---+---------------------+------+------+----------+
| 0 | 2023-03-01 00:00:00 | 6.3  | 0.01 |    68    |
| 1 | 2023-03-01 00:00:00 | 6.1  | 0.01 |    68    |
| 2 | 2023-03-01 00:00:00 | 6.2  | 0.01 |    69    |
| 3 | 2023-03-01 00:00:00 | 6.0  | 0.01 |    70    |
| 4 | 2023-03-01 00:00:00 | 5.8  | 0.01 |    70    |
+---+---------------------+------+------+----------+

In [58]:
rain3['date']

0     2023-03-01
1     2023-03-01
2     2023-03-01
3     2023-03-01
4     2023-03-01
         ...
739   2023-03-31
740   2023-03-31
741   2023-03-31
742   2023-03-31
743   2023-03-31
Name: date, Length: 744, dtype: datetime64[ns]